.vs/
ContentManager.Admin.Api/bin/
ContentManager.Admin.Api/obj/
ContentManager.Content.Api/bin/
ContentManager.Content.Api/obj/
ContentManager.Public.Api/bin/
ContentManager.Public.Api/obj/
ContentManager.Application/bin/
ContentManager.Application/obj/
ContentManager.Domain/bin/
ContentManager.Domain/obj/
ContentManager.Infrastructure/bin/
ContentManager.Infrastructure/obj/