.vs/
Api.ContentManager.Admin.Api/bin/
Api.ContentManager.Admin.Api/obj/
Api.ContentManager.Content.Api/bin/
Api.ContentManager.Content.Api/obj/
Api.ContentManager.Public.Api/bin/
Api.ContentManager.Public.Api/obj/
ContentManager.Application/bin/
ContentManager.Application/obj/
ContentManager.Domain/bin/
ContentManager.Domain/obj/
ContentManager.Infrastructure/bin/
ContentManager.Infrastructure/obj/